.icon.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0em;
    vertical-align: 0em;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
}
.icon i {
    font-size: 22px;
    color:#9b9d8c;
}
.nav-min-height{
    min-height: 4rem;
    box-shadow: 0 0 7px 0 rgb(0 0 0 / 20%);
}
.d-menu-show-mobile{
    display: none;
}
.pointer{
    cursor: pointer;
}
@media only screen and (max-width: 992px){
    .d-menu-show-mobile{
        display: block !important;
    }
    .d-menu-hide-mobile{
        display: none;
    }
}