.subtotal {
  display: flex;
  justify-content: space-between;
}

h5 {
  text-align: right;
}

hr {
  width: 95%!important;
  margin: 20px auto!important;
  opacity: 0.5;
}

.remove-item {
  cursor: pointer;
}